.pomodoro {
  &__timer {
    font-size: 100px;
    cursor: pointer;
  }
}

.arrows {
  display: flex;
  height: 30px;
  justify-content: space-around;
  &__item {
    cursor: pointer;
    transition: opacity .3s linear;
  }
  &-down {
    transform: rotate(180deg);
  }
}
@media (max-width: 500px) {
  .pomodoro {
    &__timer {
      font-size: 80px;
    }
  }

  .arrows {
    height: 25px;
  }
}

@media (max-width: 400px) {
  .pomodoro {
    &__timer {
      font-size: 60px;
    }
  }

  .arrows {
    height: 20px;
  }
}