.pomodoro {
  &__timer {
    font-size: 100px;
    cursor: pointer;
  }
}

.arrows {
  display: flex;
  height: 30px;
  justify-content: space-around;
  &__item {
    cursor: pointer;
    transition: opacity .3s linear;
  }
  &-down {
    transform: rotate(180deg);
  }
}