.pomodoro {
  &__footer {
    display: flex;
    gap: 10px;
    &-img {
      height: 40px;
      cursor: pointer;
      transition: .3s;
  
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  
}

@media (max-width: 400px) {
  .pomodoro {
    &__footer {
      &-img {
        height: 20px;
      }
    }
  }
}